.care {
  padding: 50px 0 70px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.content {
  width: 300px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content h2 {
  margin: 0;
  padding: 0;
  color: var(--turquoise);
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
}

.content p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
}

.care img {
  width: 100%;
  height: auto;
}

:global([data-theme='dark']) {
  .care {
    background-color: var(--navy);
  }

  .content p {
    color: var(--white);
  }
}

@media (min-width: 640px) {
  .care {
    gap: 100px;
  }

  .content {
    width: 600px;
    padding: 0 20px;
  }

  .content h2 {
    font-size: 54px;
  }

  .content p {
    font-size: 26px;
  }
}

@media (min-width: 1200px) {
  .care {
    gap: 150px;
  }

  .content {
    max-width: 1400px;
  }

  .care img {
    max-width: 1400px;
    margin: 0 auto;
  }
}
