.animal > div {
  padding: 20px 10px 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.animal h2 {
  width: 300px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: MontserratExtraBold, 'sans-serif';
  font-size: 40px;
  color: var(--turquoise);
}

.animal p {
  width: 300px;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.animal button {
  width: 300px;
  margin: 0;
  padding: 11px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform: uppercase;
  font-family: MontserratSemiBold, 'sans-serif';
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: var(--orange);
  color: var(--white);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.animal button:hover {
  background-color: var(--dark-orange);
}

.pandaImage {
  width: 100%;
  height: 290px;
  object-fit: cover;
  object-position: 85% 50%;
}

@media (min-width: 640px) {
  .animal > div {
    position: relative;
    padding: 50px 20px;
    z-index: 100;
  }

  .animal h2 {
    width: 600px;
    font-size: 72px;
  }

  .animal p {
    width: 340px;
  }

  .animal button {
    padding: 26px 0;
  }

  .pandaImage {
    height: 390px;
    position: relative;
    top: -390px;
    object-position: 70% 50%;
  }
}

@media (min-width: 1200px) {
  .animal > div {
    padding: 100px 40px;
    gap: 30px;
  }

  .animal h2 {
    width: 890px;
    font-size: 82px;
  }

  .pandaImage {
    height: 690px;
    top: -690px;
  }
}

@media (min-width: 1920px) {
  .animal > div {
    padding: 130px 260px;
    gap: 50px;
  }

  .animal p {
    width: 430px;
  }

  .pandaImage {
    height: 790px;
    top: -790px;
    object-position: 70% 0;
  }
}
