@font-face {
  font-family: 'MontserratRegular';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MontserratExtraBold';
  src: url('./assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --orange: #f58021;
  --dark-orange: #d26004;
  --white: #ffffff;
  --navy: #20113d;
  --black: #000000;
  --turquoise: #00a092;
  --dark-turquoise: #05786e;
  --gray: #969696;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'MontserratRegular', sans-serif;
}
